/*
Reset
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
Common
*/

body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    overflow: hidden;
}

/*::-webkit-scrollbar{
    rimuove la scrollbar
    display: none;
}*/

main{
    height: calc(100% - 5.625rem);
    overflow: hidden;
}


h1, h4{
    color: white;
}

h5{
    color: #7a7d81;
}

#white{
    color: white;
}

#bigger{
    font-size: 30px;
}

a{
    text-decoration: none;
    color: #a3a3a3;
}

li{
    list-style: none;
}

.flex{
    display: flex;
}

.lg-logo{
    display: none;
}

#sidebar nav span{
    display: none;
}

img{
    width: 100%;
    display: block;
}

.wrap{
    flex-wrap: wrap;
}

.text-none{
    display: none;
}

.align-center{
    align-items: center;
}

.plus-sign{
    width: 2.5rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    display: inline-block;
    background-color: gray;
    color: black;
    text-align: center;
    vertical-align: middle;
}

#profile{
    object-fit: cover;
    border-radius: 50%;
    background-color: grey;
}

.pd-5{
    padding: .3125rem 0;
}

.pt-10{
    padding-top: 10px;
}

#main-box .creato h1, #main-box .artisti h1{
    padding: .625rem 0;
}

#main-box .recent-play span{
    color: #7a7d81;
}

/*
Sidebar
*/

#sidebar{
    background-color: black;
    height: 100%;
    width: 3.125rem;
    padding: .75rem;
    color: #d2d2d2;
}


#sidebar nav{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.playlist-box{
    display: none;
}

#sidebar .bar-top span{
    font-size: .875rem;
}

#sidebar nav a{
    display: flex;
    align-items: center;
    gap: .625rem;
}

#sidebar nav .bar-top ul{
    padding: .3125rem 0;
}

#sidebar nav .bar-top li{
    padding: .3125rem 0;
}

#sidebar .bar-middle #white{
    font-weight: 800;
}

#sidebar nav ul img{
    width: 100%;
    max-width: 1.875rem;
}

#sidebar nav .bar-down img{
    width: 100%;
    max-width: 1.875rem;
}

#sidebar nav .flex{
    flex-wrap: wrap;
}


.playlist-box{
    overflow: auto;
    overflow-y: hidden;
    display: none;
   /* height: 15.625rem;*/
    flex-grow: 1;
}

#sidebar nav .playlist-box ul{
    flex-grow: 1;
    overflow-y: auto;
}

#sidebar nav .playlist-box ul li{
    padding: .3125rem 0;
    font-size: .75rem;
    color: ;
}

#sidebar hr{
    display: none;
    margin: .3125rem 0;
}

@media screen and (min-width: 640px) {
    .text-none{
        display: inline;
    }

    #sidebar hr{
        display: block;
    }
}


/*
Header
*/

header{
    background-color:rgba(0,0,0,0.5);;
    justify-content: flex-end;
    padding: .9375rem 0;
    height: 5.625rem;
    width: calc(100% - 3.125rem);
    position: fixed;
    top: 0;
    right: 0;
}



.btn{
    color: white;
    padding: .625rem 2.1875rem;
    border: 1px solid white;
    border-radius: 30px;
    margin-right: .625rem;
}

/*
Main
*/

#main-box{
    background-color: #141922;
    height: calc(100vh - 5.625rem);
    width: calc(100% - 3.125rem);
    overflow: auto;
}

#main-box nav{
    margin-top: 5.625rem;
}

#main-box nav .flex{
    justify-content: center;
    flex-wrap: wrap;
}

#main-box nav ul li #green{
    border-bottom: 1px solid yellowgreen;
}

#main-box nav ul li{
    padding: 1.2rem;
    font-size: .875rem;
}

#main-box .col{
    width: calc(100% / 2);
    text-align: center;
}

#main-box .first h1{
    padding-bottom: 1.875rem;
}

#main-box .row{
    margin: -0.3125rem -0.625rem;
}

#main-box .col .col-content{
    padding: .3125rem .625rem;
}

#main-box .recent-play{
    padding: 1.25rem;
}

#main-box .col-txt {
    padding-top: .625rem;
}

#main-box .artisti .col-img img{
    border-radius: 50%;
}


@media screen and (min-width: 640px) {
    #main-box{
        height: calc(100vh - 5.625rem);
        width: calc(100% - 14.375rem);
    }

    #sidebar{
        width: 14.375rem;
        height: calc(100vh - 5.625rem);
        padding: 1.25rem;

    }

    #sidebar nav .flex li:first-child{
        border-left: 2px solid greenyellow;
    }

    .playlist-box{
        /*display:block*/
        display: flex;
        flex-direction: column;
    }

    .sm-logo{
        display: none;
    }

    .lg-logo{
        display: block;
        max-width: 130px;
    }

    #sidebar nav .flex li{
        width: 100%;
    }

    #sidebar nav span{
        display: inline;
    }

    header{
        width: calc(100% - 14.375rem);
    }

}

@media screen and (min-width: 878px) {
    #main-box .col{
        width: calc(100% / 4);
    }
}

@media screen and (min-width: 1000px) {
    #main-box .col{
        width: calc(100% / 6);
    }
}

.col-img{
    position: relative;
}

.col-img .play-btn{
    position: absolute;
    font-size: 3.125rem;
    display: none;
    width: 100%;
    height: 100%;
    color: white;
}

.col-img:hover .play-btn {
    z-index: 2;
    display: block;
    background-color: rgba(0,0,0,0.5);
}

.col-img .play-btn i {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

/*
Footer
*/

footer{
    background-color: #282828;
    height: 5.625rem;
    /*width: 100%;*/
    justify-content: space-between;
    padding: 1.5625rem .625rem;
}

footer .footer-left{
    width: 20%;
    align-items: center;
}

footer .footer-right{
    width: 20%;
    align-items: center;
}

footer .album-img img{
    min-width: 1.875rem;
    max-width: 3rem;
}

footer .album-icon{
    flex-direction: column;

}

footer .name{
    flex-direction: column;
    justify-content: center;
    margin: 0 .625rem;
}



footer .name .name-song{
    flex-direction: column;
    color: #6e6e6e;
}

footer .footer-center{
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 0 2.5rem;
}

footer .bar {
    height: 4px;
    max-width: 60%;
    background-color: #5a5a5a;
    flex-grow: 2;
   /* margin:0 .75rem;*/
}

footer .bar-prog {
    height: 4px;
    background-color: #c1c1c1;
    flex-grow: 1;
   /* margin:0 .75rem;*/
}

footer .btn-player, footer .bar-player {
    width: 100%;
    justify-content: center;
    align-items: center;
}


footer .btn-player div{
    margin: 0 .625rem;
}

footer .album-icon i{
    color: #707070;
}

footer .btn-player i{
    color: white;
}

footer .footer-right i{
    color: white;
    padding: 0 .3125rem;
}

@media screen and (min-width: 878px) {

    footer .name .name-song {
        flex-direction: row;
    }
    
    footer .album-icon {
        align-items: center;
        flex-direction: row;
    }

    footer .album-icon i{
        padding: 0 .625rem;
    }
}

/*
Effetti
*/

#sidebar .playlist-maker:hover{
    color: white;
}

#sidebar .playlist-box li a:hover{
    color: white;
}

#sidebar .bar-top li span:hover{
    color: white;
}

#sidebar .bar-down a div:hover{
    color: white;
}


#main-box .btn:hover{
    transform: scale(1.1);
}

#main-box .col-content img:hover{
    filter: brightness(50%);
}

#main-box nav li a:hover{
    color: white;
}

footer .footer-left i:hover{
    color: white;
}

footer .footer-center #bigger:hover{
    font-size: 40px;
}